@import "utils/variables";
@import "utils/mixins/hover";
@import "utils/mixins/tab-focus";

@import "utils/normalize";
@import "utils/reboot";
@import "utils/mtg";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family-sans-serif;

  ul {
    margin: 0;
    padding: 0;
  }
}
