{
  "env": {
    "webpack": {
      "plugins": [
        "transform-commonjs-es2015-modules",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-es2015-shorthand-properties",
        "transform-function-bind"
      ],
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "not ie <= 11"
              ]
            },
            "loose": true,
            "modules": false
          }
        ]
      ]
    },
    "e2e": {
      "plugins": [
        "transform-commonjs-es2015-modules",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-es2015-shorthand-properties",
        "transform-function-bind"
      ],
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "not ie <= 11"
              ]
            },
            "loose": true,
            "modules": "commonjs"
          }
        ]
      ]
    },
    "node": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": 4
            },
            "loose": true,
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
