<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”description” content=”A Magic the Gathering collection management and deck building application.”>
    <meta property="og:title" content="Compendium" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.mtgcompendium.com" />
    <meta property="og:image" content="http://www.mtgcompendium.com/src/img/compendium_logo.jpg" />
    <meta property="og:image:secure_url" content="https://www.mtgcompendium.com/src/img/compendium_logo.jpg" />
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">
    <% if (htmlWebpackPlugin.options.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
