$sliderBG: #f3f5f9;

$meterFill: #A2D4AB;
$meterBG: #ccd0d9;

$header: #5A5050;
$text: #7c9398;
$textActive: #A2D4AB;
$textHover: #3a585f;

$handleStroke: #FEFEFE;
$handleFill: #ebedf2;
$handleHover: #A2D4AB;

.filter-slider {
  flex: 1 0 auto;
  width: 26rem;
  background-color: $sliderBG;
  padding: 1rem;

  button {
    background: none;
    border: none;

    &:focus {
      outline: none;
    }
  }

  label {
    margin: 0;
    font-weight: normal;
  }

  h3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $header;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    margin-top: 0;
    margin-bottom: 1.5rem;

    button {
      display: inline-block;
      width: auto;
      height: 2rem;
      color: $text;
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 2rem;
      text-decoration: none;
      margin-left: 1rem;

      &:hover {
        color: $textHover;
      }
    }
  }

  .slider {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .meter {
      flex: 1 1 auto;
      display: flex;
      width: 100%;
      margin-bottom: -0.8rem;

      span {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 0.8rem;
        position: relative;
        background: $meterFill;
        border-radius: 0.4rem;

        .handle {
          flex: 0 0 auto;
          width: 2rem;
          height: 2rem;
          overflow: hidden;
          z-index: 2;
          line-height: 10rem;
          cursor: pointer;
          background: $handleFill;
          box-shadow: 0 0 0 0.5rem $handleStroke inset;
          border: 0;
          border-radius: 50%;
          padding: 0;
          margin-top: -0.6rem;
          margin-left: -1rem;
          margin-right: -1rem;

          &:hover, &.active {
            background: $handleHover;
          }
        }
      }
    }

    .steps {
      flex: 1 1 auto;
      display: flex;

      .step {
        flex: 1 0 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: $text;
        border-left: 0.1rem solid $sliderBG;
        border-right: 0.1rem solid $sliderBG;
        cursor: pointer;

        span {
          flex: 1 0 auto;
          width: 100%;
          height: 0.8rem;
          background: $meterBG;
        }

        label {
          flex: 1 0 auto;
          font-size: 1.4rem;
          cursor: pointer;
          margin-top: 1.5rem;
          padding-left: 0.5rem;
          padding-right: 0.2rem;
        }

        i {
          opacity: 0.5;
        }

        em {
          font-style: normal;
          font-weight: bold;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }

        &.selected {
          color: $textActive;

          i {
            opacity: 1;
          }
        }

        &:hover {
          color: $textHover;

          i {
            opacity: 1;
          }
        }

        &:first-child span {
          border-left: none;
          border-top-left-radius: 0.4rem;
          border-bottom-left-radius: 0.4rem;
        }

        &:last-child span {
          border-right: none;
          border-top-right-radius: 0.4rem;
          border-bottom-right-radius: 0.4rem;
        }
      }
    }
  }
}
