<template>
  <fieldset class="filter-slider">
    <h3>${config.name}<button ref="reset">Reset</button></h3>

    <div class="slider" ref="slider">
      <div class="meter" ref="meter">
        <span ref="selection">
          <button class="handle" ref="min" value="0">Min</button>
          <button class="handle" ref="max" value="1">Max</button>
        </span>
      </div>
      <div class="steps" ref="steps">
        <button repeat.for="step of config.steps" value="${$index}" class="step" title="${step.title}">
          <span></span>
          <label innerhtml.bind="step.content | sanitizeHTML"></label>
        </button>
      </div>
    </div>
  </fieldset>
</template>
