<template>
  <section id="card-search">
    <form role="search">
      <section id="basic" ref="basic">
        <div id="header">
          <h2>Card Search:</h2>
          <label class="input-icon advanced"><i class="fa fa-fw ${advToggle ? 'fa-times' : 'fa-sliders'}" aria-hidden="true">
            <input type="checkbox"   id="show-advanced"  checked.bind="advToggle">
          </i></label>
        </div>

        <div id="text" show.bind="advanced">
          <div class="search-wrapper">
            <label><i class="fa fa-fw ${textToggle ? 'fa-toggle-on' : 'fa-toggle-off'}" aria-hidden="true">
              <input type="checkbox" id="names"          checked.bind="textToggle"    title="Names"/>
            </i><span show.bind="!textToggle">Name</span><span show.bind="textToggle">Text</span></label>
            <input type="text"     id="search"         value.bind="filterText"      placeholder="Search...">
            <button><i class="fa fa-fw fa-search" aria-hidden="true"></i></button>
          </div>
        </div>

        <div id="filters">
          <filter-checklist config.bind="config.colors"></filter-checklist>
          <filter-checklist config.bind="config.basictypes"></filter-checklist>
          <filter-checklist config.bind="config.rarities"></filter-checklist>
          <filter-taglist config.bind="config.simplesets"></filter-taglist>
        </div>
      </section>

      <section id="advanced" ref="advanced" show.bind="advToggle">
        <div id="categories" ref="nav">
          <button class="active" value="Classes" click.delegate="switchTab($event)"><i class="ss ss-ktk ss-fw"></i><label>Classes</label></button>
          <button class="" value="Costs"   click.delegate="switchTab($event)"><i class="ms ms-tap ms-fw"></i><label>Costs</label></button>
          <button class="" value="Types"   click.delegate="switchTab($event)"><i class="ms ms-creature ms-fw"></i><label>Types</label></button>
          <button class="" value="Rules"   click.delegate="switchTab($event)"><i class="ss ss-jud ss-fw"></i><label>Rules</label></button>
          <button class="" value="Stats"   click.delegate="switchTab($event)"><i class="ss ss-usg ss-fw"></i><label>Stats</label></button>
          <button class="" value="Groups"  click.delegate="switchTab($event)"><i class="ss ss-gpt ss-fw"></i><label>Groups</label></button>
          <button class="" value="Flavor"  click.delegate="switchTab($event)"><i class="ss ss-v16 ss-fw"></i><label>Flavor</label></button>
        </div>

        <div ref="Classes" class="tab active">
          <filter-taglist config.bind="config.names"></filter-taglist>
          <filter-taglist config.bind="config.categories"></filter-taglist>
          <filter-taglist config.bind="config.layouts"></filter-taglist>
        </div>

        <div ref="Costs" class="tab">
          <filter-taglist config.bind="config.multicolored"></filter-taglist>
          <filter-checklist config.bind="config.colors"></filter-checklist>
          <filter-slider config.bind="config.cost"></filter-slider>
        </div>

        <div ref="Types" class="tab">
          <filter-taglist config.bind="config.supertypes"></filter-taglist>
          <filter-taglist config.bind="config.types"></filter-taglist>
          <filter-taglist config.bind="config.subtypes"></filter-taglist>
        </div>

        <div ref="Rules" class="tab">
          <filter-taglist config.bind="config.abilities"></filter-taglist>
          <filter-taglist config.bind="config.keywords"></filter-taglist>
        </div>

        <div ref="Stats" class="tab">
          <filter-slider config.bind="config.power"></filter-slider>
          <filter-slider config.bind="config.toughness"></filter-slider>
          <filter-slider config.bind="config.loyalty"></filter-slider>
        </div>

        <div ref="Groups" class="tab">
          <filter-taglist config.bind="config.formats"></filter-taglist>
          <filter-taglist config.bind="config.blocks"></filter-taglist>
          <filter-taglist config.bind="config.sets"></filter-taglist>
        </div>

        <div ref="Flavor" class="tab">
          <filter-checklist config.bind="config.rarities"></filter-checklist>
          <filter-taglist config.bind="config.artists"></filter-taglist>
        </div>

        <div ref="Submit" id="submit">
          <button type="submit" click.delegate="search()">Search</button>
          <button type="reset" click.delegate="reset()">Cancel</button>
        </div>
      </section>
    </form>
  </section>
</template>
