<template>
  <fieldset class="filter-taglist">
    <h3>${config.name}<button click.delegate="reset($event)">Reset</button></h3>

    <div class="list">
      <span>
        <input type="text" ref="list" list="items" name="item" placeholder="${config.name}"/>
        <button class="${config.excluded ? '' : 'last'}" ref="include"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="last" if.bind="config.excluded" ref="exclude"><i class="fa fa-minus" aria-hidden="true"></i></button>
      </span>
      <datalist id="items">
        <option repeat.for="item of config.items" value="${item}">
      </datalist>
    </div>

    <div class="tagList included" show.bind="tags.included.size > 0">
      <label>Included:<button class="clear" value="included" click.delegate="clearTags($event)">Clear</button></label>
      <ul>
        <li repeat.for="tag of tags.included">${tag}<button class="tag" value="${tag}" click.delegate="deleteTag($event)"><i class="fa fa-times" aria-hidden="true"></i></button></li>
      </ul>
    </div>

    <div class="tagList excluded" show.bind="tags.excluded.size > 0" if.bind="config.excluded">
      <label>Excluded:<button class="clear" value="excluded" click.delegate="clearTags($event)">Clear</button></label>
      <ul>
        <li repeat.for="tag of tags.excluded">${tag}<button class="tag" value="${tag}" click.delegate="deleteTag($event)"><i class="fa fa-times" aria-hidden="true"></i></button></li>
      </ul>
    </div>
  </fieldset>
</template>
